/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h2
  border-bottom:none

.custom-page-class
  .theme-default-content
    max-width:1200px